{% extends '::base_cover.html.twig' %}

{% block body %}
    {% set shortUrl = url.shortUrl|length > 0 ? url('url_fetch', { hash: url.shortUrl }) %}

    {% if not shortUrl %}

    {% endif %}

    <p class="lead">Target URL: {{ url.targetUrl }}</p>
    <p class="lead">Short URL: {{ shortUrl }}</p>
    <a href="{{ shortUrl ?: '' }}" class="btn btn-success" {{ (not shortUrl) ? 'disabled="disabled"' }}>Visit</a>
    <a href="{{ url('url_delete', { id: url.id }) }}" class="btn btn-danger">Delete</a>

{% endblock %}
